/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 

*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}






/* guruchahiyo styles */
img{max-width: 100%;}
ul li{list-style-type: none;}
a{text-decoration: none;font-weight: normal;}
input{
	-webkit-user-modify: read-write-plaintext-only !important;
	-webkit-tap-highlight-color: transparent !important;
}
.homepageWrap{background-color:#f3713c;}
.splash{text-align: center;}
.splash img{width: 100%;}
.header{
	background-image: url("../images/actionBarlong.png") !important;
	background-repeat: no-repeat !important;
	height: 50px;
	width: 100%;
	text-align: center;
	background-position: center 0px !important;
	background-size: 100% !important; 
	background-color: transparent !important;
	border: 0 !important;
	z-index: 1000;
	top: 0;	
	
}


/* log in page */
.loginPage{
	background-image: url("../images/loginBack.png");
	background-repeat: no-repeat;
	background-position: center;
}

.ui-btn-hover-a{border-top: 0 !important;}
.globalNav{
	background-image: url("../images/globalNav.png") !important;
	background-repeat: no-repeat !important;
	width: 34px;
	height: 34px;
	background-color: transparent!important;
	box-shadow: none!important;
	border: 0 !important;
	float: right;
	display: block !important;
	text-indent: -99999999px;
	margin: 4px -3px !important;
	background-size: 79%;
}
.globalNav .ui-btn-inner{
	border: 0 !important;
	-webkit-border-radius: 0!important;
	border-radius: 0!important;	
}
.headerDrop li:last-child{
	border-radius: 0 0 5px 5px;
}
.ui-listview>.ui-li.ui-first-child,
.ui-listview>.ui-li.ui-last-child,
.homepageWrap .ui-btn-corner-all{
	-webkit-border-radius: 5px!important;
	border-radius: 5px!important;
}
.ui-body-c, .ui-overlay-c p{color: #fff;text-shadow: none;}

/* dropdown menu*/


#header ul ul { /* Menu Item List */
	position: absolute; /* Position absolutely */
	display: none; /* Hide */
	z-index:500; /* Ensure visibility over other elements on page */
	margin-top: 0px; /* Bring menu closer to button; not needed on mobile */
	top: 42px;
}


#header ul ul li {
	width: 135px; /* Fixed width menu items*/
	display: block; /* JQM makes a inline-blocks... reset it to block */
}
#header ul ul li a {
	white-space: normal; /* Stop long menu names from truncating */
}
#header ul:hover ul {
	/* display: block; /* Display menu on hover over parent */
}
#header ul ul li a:active{background: #777 !important;}

#menu-right ul {margin-right: 0.5em;right: 0em;overflow: hidden;background: #111;border-radius: 0 0 5px 5px !important;}
#header ul ul li a{
	background: #2d2c2c!important;
	color: #fff !important;
	font-weight: normal !important;
	padding: 10px 24px;
	font-size: 13px;
	margin-bottom: 1px;
	text-shadow:none;
}

#header ul ul li a:active{color: #ccc;}

#menu-right .ui-btn-inner{padding-right: 0px;}

#menu-right .ui-btn-up-a{	
	border-top: 0px;
	border-bottom: 0px;
}
/* hair styles */
.innerContent{
	text-align: center;
	min-height: 400px;
	padding: 20px;
}
.innerContent h2{
	color: #886645;
	font-weight: bold;
	text-shadow: none;
	text-transform: capitalize;
	padding: 10px 0;
}
.logoWrap {
	width: 100%;
	height: 100px;
	margin: 75px 0 40px;
}

.stylesWrap{
	width: 100%;
	overflow-y: hidden;
}


.logoWrap img{
	margin: 0 auto;

}

.popUpImg img{
	width: 100%
}
.bigSearchBox {
	padding: 18px 10px;
	border: 0;
	outline: 0;
	width: 391px;
	font-size: 17px;
	font-weight: normal;
	color: #615f5f;
	height: 20px;
}
.searchBtn {

	border: 2px solid #fff;
	margin: 0 0 0 -4px;
	padding: 26px 34px;
	text-indent: 99999px;
	font-size: 0;
	cursor: pointer;
	width: 50px;
}
.globalButton {background: #2d2c2c;}











#home img.footerSeparator{
	margin-top: -20px;
}
#home ul.footerNav{
	background: #231F20;
	padding-top: 80px;
	margin-top: -48px;
}
ul.footerNav li a{
	color: #fff !important;
	text-transform: uppercase !important;
	font-weight: normal !important;
	background-image: url("../images/bottomNavIcon.png");
	background-position: 29px 17px;
	background-repeat: no-repeat;
	display: block;
	background-color: #342F30;
	margin: 1px;
	padding: 15px 5px 15px 56px;
	cursor: pointer !important;
}
ul.footerNav li a:active{
	background-color: #464142;
}
.copyright p{
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 20px 10px;
	font-size: 13px;
}
span.lightBrown{color: #A87B50}
span.darkGray{color: #777;}

.darkButton{
	margin-top: 15px;
}
.darkButton a{
	background: #231F20 !important;
	opacity: 1 !important;
	-webkit-border-radius: 5px!important;
	border-radius: 5px!important;

	z-index: 0 !important;
}
.darkButton a:active{
	background: #3F393B !important;
}
.darkButton .ui-btn-text{
	color: #fff !important;
	font-weight: normal !important;
	text-transform: uppercase;
}
.ui-focus, .ui-btn:focus{
	moz-box-shadow: 0 0 transparent!important;
	-webkit-box-shadow: 0 0 transparent!important;
	box-shadow: inset 0 0 transparent!important;
}

.darkButton .ui-btn-inner{
	border-top: 0 !important;
}
.darkButton .ui-btn-up-c,
.darkButton .ui-btn-active{
	border: 0 !important
}







.tab1{
	height: 100px;
	width: 100%;
}


/* product showcase */
.tab-menu li{
	float: left;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color: #a87b50 !important;
	text-transform: uppercase;
	font-family: maindra, sans-serif ;
	font-weight: bold;
}
.ui-widget-header{ 
	background: transparent!important; 


	border-top: 0 !important;
	border-right: 0!important;
	border-left: 0!important;
}
.ui-tabs{
	padding: 0 !important;
}
.ui-tabs .ui-tabs-panel{
	padding: 25px 0 !important;
}
.ui-widget-content{
	border: 0 !important;
	background-color: transparent !important;
}
.ui-tabs .ui-tabs-nav li a{
	padding: 10px 17px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl,
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-radius: 5px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background-color: transparent !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-color: #fff;
	border-color: #aaa !important;
}
.tab-menu{
	margin: 0 auto;
	overflow: hidden;
}
.productShowCaseWrapper ul li{
	float: left;
	margin: 0 5px;
}
.tab-menu li{
	margin: 0 !important;
}
.productShowcase{
	height: 255px;
	position: relative;
	z-index: 1;
}
.productShowCaseWrapper h2{

	text-align: center;
	margin: 0 0 30px;
}
.productShowcaseCaptionBtn{
	background-position: -66px -380px !important;
}
.searchImgCaption,
.productShowcaseCaptionBtn{
	background: url("images/sprite_images.png") no-repeat;
	padding: 15px 0px 53px;    
	display: block;
	font-size: 14px;
	text-align: center;
	text-transform: none;
}
.productShowcaseImg{
	height: 146px;
	width: 139px;
	overflow: hidden;
}
.productShowcaseCaptionBtn:hover{
	/* background: url("images/sprite_images.png") no-repeat -66px -475px; */
	opacity: .5;
}
.productShowcaseCaption{
	width: 188px;
	height: 80px;
	overflow: hidden;
}
.hairStylesBtn{
	width: 50px;
	height: 200px;
}
.proShowcaseInnerWrapper{
	overflow-y: hidden;  
	margin: 20px 0; 
}
.productShowcase .ui-grid-b>:nth-child(n){
	margin-right: 0px !important;
}
.productShowcase .ui-btn-inner{
	padding: .9em 15px !important;
	color: #A87B50 !important;
	text-shadow: none !important;
}
.productShowcase .ui-btn-active{
	background: transparent;
	border: 1px solid #777;
}
.tab-menu li a{
	border: 1px solid #777;
}
/* media query */
/* popup screen */
.ui-overlay-a{
	background: #000 !important;
	opacity: 0.8 !important
}
#searchPopUp-popup{
	width: 100% !important;
	max-width: 100% !important;
	left: 0 !important;
}
.ui-popup-container .ui-content{
	padding: 20px;
}
.popUptheme li .ui-select>div,
.popUptheme li div.ui-input-text{
	border: 1px solid #F3713C !important;
	-webkit-box-shadow: 0 0  !important;
	box-shadow: 0 0  !important;
	-webkit-border-radius: 5px!important;
	border-radius: 5px!important;
	color: #231F20;
	font-weight: normal;

}
.popUptheme li input.ui-input-text {
	text-align: center !important;
}

/* login page */
.formWrapper{
	height: 442px;
	margin-top: -78px;
	padding-top: 90px !important;
	background-color: #F3713C;
}
.backBtn{
	width: 0px !important;
	height: 0px !important;
	border-style: solid !important;
	border-width: 6.5px 17px 8.5px 0 !important;
	border-color: transparent #fff transparent transparent !important;
	text-indent: -99999px;
	border-radius: 0 !important;
	margin-top: 10px!important;
	display: block!important;
	box-shadow: 0 0 transparent !important;
}
.backBtn span{
	border: 0 !important;
}
.innerListing{
	margin-top: 20px;
	text-shadow: none;
	padding: 20px;
	text-align: center;
}
.youInputProfile p{
	float: left;
	width: 43%;
	text-align: right;
	padding-top: 24px;
	color: #222;
}
.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 300ms !important;
}

.socialLogin{
	text-align: center;
	width: 330px;
	margin: 80px auto;
}
.socialLogin ul li{
	float: left;
	margin: 20px 5px;
	opacity: 0.6;
}
.socialLogin ul li:active{
	opacity: 1;
}
.registerInfo,
.loginInfo{font-size: 12px;}
.loginInfo span{
	float: right;
	display: block;
}
.loginInfo span a{
	color: #fff !important;
	font-weight: normal !important;
	text-transform: uppercase;
	padding-left: 10px;
}
.innerListing .ui-body-c{
	background: transparent;
	border:0 !important;	
	box-shadow: none;	
}
.loginInfo >a{
	color: #000 !important;
	font-weight: normal !important;
	float: left;
}
.innerListing ::-webkit-input-placeholder {
	color:    #fff;   
}
.innerListing input{
	color: #fff;
	text-shadow: none;
}
.innerListing div.ui-body-c{
	background-image: url("../images/inputBackground.png");
	background-repeat: no-repeat;
	background-position: bottom!important;
	padding: 4px 12px;
}
.innerListing .ui-focus{
	box-shadow: 0 0 transparent !important;
	-webkit-box-shadow: 0 0 transparent !important;
}
.ui-page {-webkit-backface-visibility:hidden!important;}

.searchBtns .darkButton{background: #231F20;border: 0}
.searchBtns .darkButton:active{background: #3D3D3D;border: 0}
.darkButton input[type="submit"] {
	background: #231F20 !important;
	opacity: 1 !important;		
	z-index: 0 !important;
	padding-top: 10px; 
	padding-bottom: 10px;

}
li.darkButton .ui-btn-hover-c{
	background: transparent !important;
	border: 0px !important; 
	text-shadow: none !important;
}
.innerListing .ui-btn-up-c{
	background: transparent !important;
	border: 0 !important;
	color: #fff !important;
	text-shadow: none !important;
	font-weight: normal !important;
	text-transform: uppercase;
}
.innerListing .ui-shadow{
	-moz-box-shadow: 0 0 transparent !important;
	box-shadow: 0 0 transparent !important;
	-webkit-box-shadow: 0 0 transparent !important;
}
.innerListing .ui-btn-inner{border-top: 0px!important;}
.innerListing li.darkButton{margin: 15px 0;}
.darkButton input[type="submit"]:active{
	background-color: #3F393B;
}

#loginPage img.footerSeparator{margin-top: 20px;}
.ui-footer{margin-top: -1px !important;}
.registerListing ul li{margin: 10px 0;}
.registerListing ul li img{width: 100%;}
.registerSeparate{margin-bottom: 30px !important;}
.registerSeparate a img{width: 20% !important;}
.registerInfo span{color: #fff;}
.registerInfo a{color: #A87B50 !important;padding: 5px;}
.registerInfo a:active{
	background: rgb(35, 31, 32);
	border-radius: 5px;
}
.registerInfo{margin-top: 20px !important;}
#registerPage .footerSeparator{margin-top: 20px;}
#registerPage .formWrapper{
	height: 400px !important;
}

/* search result page */
.singlePages{	
	min-height: 400px;
	margin-top: -60px;
	padding-top: 60px;			
}

.singlePages h1{
	text-align: center;
	color: #A87B50;
	text-shadow: none;
}

/* search result */

ul.listView li.listHeader{
	background-color: #000;
	background-image: url("../images/headerIcon.png");
	background-position: 17px 9px;
	background-repeat: no-repeat;	
	padding: 10px 5px 10px 40px;
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 13px;
}
.listThumb{height: 100px;padding: 13px;}
.listThumb img{background: #fff;padding: 6px;box-shadow: 0px 0px 1px #000; width: 76px;height: 80px;}
.listThumb a{float: left;margin: 5px;}
.salonInfo{float: left;margin-left: 10px;}
.salonInfo h3{color: #A87B50;padding:10px 0px;}
.teleNum{color: #000 !important;font-weight: normal !important;font-size: 13px;}
.salonUrl{color: #A87B50 !important;font-weight: normal !important;font-size: 14px;margin: 0 !important;display: block;width: 100%;}
.salonInfo address{font-size: 14px;}
.innerPage{overflow: hidden !important;
}


/* ==== User Registration detail  ======== */
.profileWrapper{height: 160px;}
.userImg{
	background-color: #fff;
	background-image: url("../images/no-photo.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 120px;
	width: 100px;
	padding: 5px;
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.63);
	position: relative;
}
.userImg img{height: 120px;width: 100px; }
.addPhoto{display: block;
	position: absolute;
	right: -13px;
	bottom: -10px;
	width: 33px;
	height: 33px; 
	background: url("../images/cameraIcon.png") no-repeat; 
	text-indent: -999999px;
}
.popUpBigImages{width: 100%;}
.popUpImage{	
	padding: 10px;
}
.popUpImage img{
	width: 100% !important;
}

.delPopBtn{
	position: absolute !important;
	right: -8px !important;
	top: -17px !important;
}

.inputFld{
	float: right;
	width: 57%;
}

ul.selectUlBox li{overflow: hidden;}
ul.inputFld li div{
	margin: 0;
}
ul.inputFld div.ui-body-c{
	border-bottom: 0;
}
ul.salonDetailScreen li:first-child div,
ul.inputFld li:first-child div{border-radius: 5px 5px 0 0 !important;}
ul.salonDetailScreen li:last-child div,
ul.inputFld li:last-child div{border: 1px solid #aaa;border-radius: 0 0 5px 5px !important;}
ul.inputFld li input{padding: 0.6em 0 !important;}
ul.selectUlBox div.ui-body-c,
ul.selectUlBox div.ui-btn-corner-all{
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

li.cityInputProfile .ui-select div.ui-btn-up-c{
	float: left !important;
	width: 49% !important;
	color: #777;
	font-weight: normal;
	position: relative;
	right: -15px !important;
}
ul.selectUlBox div.ui-body-c{
	float: left !important;	
	margin-right: 14px; 
}
li.cityInputProfile div.ui-body-c{
	width: 40% !important;
	color: #777;
	font-weight: normal;
}
ul.selectUlBox li:first-child>div{
	margin-right: 5px;
	float: right;
	width: 50%;
}
ul.selectUlBox li span.ui-btn-inner{
	padding: .6em .10em; 

}
ul.selectUlBox li:nth-child(3) div{width: 43% !important;}
ul.selectUlBox li:nth-child(3)>div{margin-right: 0;}
ul.selectUlBox li:nth-child(3) div:nth-child(2){position: relative;right: -10px !important;}

ul.selectUlBox .ui-btn-hover-c,
ul.selectUlBox .ui-focus{
	-moz-box-shadow:0 0 transparent !important;
	-webkit-box-shadow: 0 0 transparent !important;
	box-shadow:0 0 transparent !important;
	width: 49% !important;
	float: left !important;

}
ul.selectUlBox .ui-btn-hover-c,
ul.selectUlBox .ui-select .ui-focus{
	position: relative;
	right: -15px !important;
	width: 49% !important;
	color: #777;
	font-weight: normal;
}
.ui-btn-active{
	background: #fff !important;
	border: 1px solid #aaa !important;
	color: #777 ;
	text-shadow: none !important;
}
.salonConfirm{
	margin-top: 30px;
	display: block;
	text-align: center;
}

.fullWidthInput div{
	width: 95% !important;
}
.fullWidthInput div.ui-focus{
	width: 95% !important;
}
.selectUlBox input,
.profileWrapper li input{
	font-size: 15px !important;
}
.selectUlBox li a{
	color: #000 !important;
	font-weight: normal !important;
}
.confirmBtn{
	margin: 20px 0;
}
.confirmBtn a{
	float: left;
}
.confirmBtn a:first-child{
	margin-right: 10px;
}
.confirmBtn a span{	
	padding: 15px 8px;
	display: block;

	color: #fff;
	text-shadow: none;
	font-size: 15px;
	float: left;
}
.confirmBtn a{
	background: #413A3C;
	border-radius: 5px;
}
.confirmBtn a:active{
	background:#231F20;
}
.darkBtnScnd{
	background: #231F20;
	width: 83px;
	border-radius: 0 5px 5px 0;
}
.salonDetailScreen div.ui-input-text{
	margin: 0;
}
.salonDetailScreen div.ui-body-c{
	border-bottom: 0;
}
.singlePages h1{
	margin-bottom: 20px;
}
.stylist-time-slot div.ui-btn-corner-all{
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	font-weight: normal !important;

}

.stylist-time-slot .table-style-header{
	color: #A87B50 !important;
}
.stylist-time-slot tr b{
	color: #A87B50 !important;
}
.ui-header .ui-title, .ui-footer .ui-title{
	margin: 0 !important;
	padding-top: 12px !important;
	text-shadow: none;
}

.ui-btn-inner {
	border-top: 0px solid #FFF !important;
	border-color: rgba(255, 255, 255, .3);
}
.ui-listview-inset .ui-li{
	border: 0px !important;
}
#menu-right .ui-btn-up-a{border: 0px!important;}

input#searchInputBox{
	padding: 0.8em 0 !important; 
}
.searchBtns{
	margin-top: 20px;
}
.searchfilter{
	float: right;
	color: #fff !important;
	font-size: 12px;
	text-shadow: none;
}


@media only screen and (max-width: 500px) {
   .header{
		background-image: url("../images/actionBar.png") !important;
	}     
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
   .header{
		background-image: url("../images/actionBar500.png") !important;
	}     
}
